@model CIS560_FinalProject.Models.Player
@{
    ViewBag.Title = "ViewPlayer";
}

<hr />
@if (Model != null)
{
    <div class="col-md-12">
    <div class="col-md-4">
    <table class="table">
        <thead>
            <tr>
                <th>Player's First Name</th>
                <td>@Model.FirstName </td>
            </tr>
            <tr>
                <th scope="col">Player's Last Name</th>
                <td>@Model.LastName</td>
            <tr>
                <th scope="col">Player's Number</th>
                <td>@Model.Number</td>
            </tr>
            <tr>
                <th scope="col">Player's Team</th>
                <td>@Model.Team</td>
            </tr>
        </thead>



       




    </table>
        </div>
        </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Player's First Name</th>
                <th scope="col">Player's Last Name</th>
                <th scope="col">Player's Number</th>
                <th scope="col">Player's Team</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>No data!</tr>
        </tbody>
    </table>
}
